/*Colors*/

$color-1: #87723F;
$color-2: #2C3242;
$color-3: #0F0F0F;
$color-4: #42475C;
$color-5: #C47830;
$color-6: #F1F1F1;
$color-7: #FFFFFF;

$background-1: #87723F;
$background-2: #2C3242;
$background-3: #0F0F0F;
$background-4: #42475C;
$background-5: #C47830;
$background-6: #F1F1F1;
$background-7: #FFFFFF;

.color-1{
  color:$color-1;
}

.color-2{
  color:$color-2;
}

.color-3{
  color:$color-3;
}

.color-4{
  color:$color-4;
}

.color-5{
  color:$color-5;
}

.color-6{
  color:$color-6;
}

.color-7{
  color:$color-7;
}

.background-1{
  background-color:$background-1;
}

.background-2{
  background-color:$background-2;
}

.background-3{
  background-color:$background-3;
}

.background-4{
  background-color:$background-4;
}

.background-5{
  background-color:$background-5;
}

.background-6{
  background-color:$background-6;
}

.background-7{
  background-color:$background-7;
}

/*Other*/

.text-align-center{
  text-align:center;
}

.position-relative{
  position:relative;
}

.margin-auto{
  margin:auto;
}

.display-block{
  display:block;
}


/*Layout*/

body {
  font-family:Lora, sans-serif, Tahoma;
  font-size:16px;
  color:$color-1;
  background:$color-6;
}

main{
	padding-top:4.5rem;
}


.nav-menu{
	width:100%;
}


.top-content {
  background-image:url("images/back-1.png");
  overflow:hidden;
}

.welcome{
  	background-image:url("images/food.jpg");
	  background-size:100%;
	  background-repeat: no-repeat;
    background-attachment: fixed;
    background-origin: content-box;
    height:35rem;
    margin-top:1em;
}

.home-page-icons{
    height:100px;
}


#logo{
	font-size:3em;
	overflow:hidden;
	color:$color-6;
}


.logo-menu{
	background-color:$color-3;
	overflow:hidden;
}


#restaurant-menu{
  left:100px;
  width:10px;
  height:50px;
	background:url("images/icons.png") 200px 0;
}

.img-width{
	width:100%;
}



.box-shadow{
    box-shadow: 0px 2px 5px 0px $color-3;
}

input[type=button]{
	cursor:pointer;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-col{
  flex-direction: column;
}

.padding{
  padding:1rem;
}

