$color-1: #87723F;
$color-2: #2C3242;
$color-3: #0F0F0F;
$color-4: #42475C;
$color-5: #C47830;
$color-6: #F1F1F1;
$color-7: #FFFFFF;

body {
   font-family:Lora, sans-serif, Tahoma;
   font-size:16px;
   color:$color-1;
   background:$color-6;
}

main{
	padding-top:3.5rem;
}


.container {
    width:100%;
    clear:both
}

@media (min-width: 768px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 100%;
  }
}

.row {
    width:100%;
    box-sizing:border-box;
    padding: 0 15px;
    clear:both
}

.nav-menu{
	width:100%;
}

.top-content {
  background-image:url("images/back-1.png");
  overflow:hidden;
}

.welcome{
  	background-image:url("images/food.jpg");
	  background-size:100%;
	  background-repeat: no-repeat;
    background-attachment: fixed;
    background-origin: content-box;
    height:35rem;
    margin-top:1em;
}

.home-page-icons{
    height:100px;
}


#logo{
	font-size:3em;
	overflow:hidden;
	color:$color-6;
}


.logo-menu{
	background-color:$color-3;
	overflow:hidden;
}


#restaurant-menu{
    left:100px;
    width:10px;
    height:50px;
	background:url("images/icons.png") 200px 0;
}

.img-width{
	width:100%;
}

.box-shadow{
    box-shadow: 0px 2px 5px 0px $color-3;
}

input[type=button]{
	cursor:pointer;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-col{
  flex-direction: column;
}

.padding{
  padding:1rem;
}

