@import "reset.scss";
@import "layout.scss";
@import "grid.scss";
@import "theme.scss";


$color-1: #87723F;
$color-2: #2C3242;
$color-3: #0F0F0F;
$color-4: #42475C;
$color-5: #C47830;
$color-6: #F1F1F1;
$color-7: #FFFFFF;




ul {
	li {
	    color: $color-1;
	}
}

