/*CSS Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: inherit; }

input,
textarea {
  outline: none; }

body {
  font-family: Lora, sans-serif, Tahoma;
  font-size: 16px;
  color: #87723F;
  background: #F1F1F1; }

main {
  padding-top: 3.5rem; }

.container {
  width: 100%;
  clear: both; }

@media (min-width: 768px) {
  .container {
    width: 100%; } }
@media (min-width: 992px) {
  .container {
    width: 100%; } }
@media (min-width: 1200px) {
  .container {
    width: 100%; } }
.row {
  width: 100%;
  box-sizing: border-box;
  padding: 0 15px;
  clear: both; }

.nav-menu {
  width: 100%; }

.top-content {
  background-image: url("images/back-1.png");
  overflow: hidden; }

.welcome {
  background-image: url("images/food.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-origin: content-box;
  height: 35rem;
  margin-top: 1em; }

.home-page-icons {
  height: 100px; }

#logo {
  font-size: 3em;
  overflow: hidden;
  color: #F1F1F1; }

.logo-menu {
  background-color: #0F0F0F;
  overflow: hidden; }

#restaurant-menu {
  left: 100px;
  width: 10px;
  height: 50px;
  background: url("images/icons.png") 200px 0; }

.img-width {
  width: 100%; }

.box-shadow {
  box-shadow: 0px 2px 5px 0px #0F0F0F; }

input[type=button] {
  cursor: pointer; }

.flex {
  display: flex;
  align-items: center;
  justify-content: center; }

.flex-col {
  flex-direction: column; }

.padding {
  padding: 1rem; }

.col-xs-1 {
  width: 8.33333%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px; }

.col-xs-2 {
  width: 16.66667%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px; }

.col-xs-3 {
  width: 25%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px; }

.col-xs-4 {
  width: 33.33333%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px; }

.col-xs-5 {
  width: 41.66666%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px; }

.col-xs-6 {
  width: 50%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px; }

.col-xs-7 {
  width: 58.33333%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px; }

.col-xs-8 {
  width: 66.66666%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px; }

.col-xs-9 {
  width: 75%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px; }

.col-xs-10 {
  width: 83.33333%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px; }

.col-xs-11 {
  width: 91.66666%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px; }

.col-xs-12 {
  width: 100%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px; }

@media (min-width: 34em) {
  .col-sm-1 {
    width: 8.33333%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px; }

  .col-sm-2 {
    width: 16.66667%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px; }

  .col-sm-3 {
    width: 25%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px; }

  .col-sm-4 {
    width: 33.33333%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px; }

  .col-sm-5 {
    width: 41.66666%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px; }

  .col-sm-6 {
    width: 50%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px; }

  .col-sm-7 {
    width: 58.33333%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px; }

  .col-sm-8 {
    width: 66.66666%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px; }

  .col-sm-9 {
    width: 75%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px; }

  .col-sm-10 {
    width: 83.33333%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px; }

  .col-sm-11 {
    width: 91.66666%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px; }

  .col-sm-12 {
    width: 100%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px; } }
@media (min-width: 48em) {
  .col-1 {
    width: 8.33333%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px; }

  .col-2 {
    width: 16.66667%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px; }

  .col-3 {
    width: 25%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px; }

  .col-4 {
    width: 33.33333%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px; }

  .col-5 {
    width: 41.66666%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px; }

  .col-6 {
    width: 50%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px; }

  .col-7 {
    width: 58.33333%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px; }

  .col-8 {
    width: 66.66666%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px; }

  .col-9 {
    width: 75%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px; }

  .col-10 {
    width: 83.33333%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px; }

  .col-11 {
    width: 91.66666%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px; }

  .col-12 {
    width: 100%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px; } }
@media (min-width: 62em) {
  .col-lg-1 {
    width: 8.33333%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px; }

  .col-lg-2 {
    width: 16.66667%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px; }

  .col-lg-3 {
    width: 25%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px; }

  .col-lg-4 {
    width: 33.33333%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px; }

  .col-lg-5 {
    width: 41.66666%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px; }

  .col-lg-6 {
    width: 50%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px; }

  .col-lg-7 {
    width: 58.33333%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px; }

  .col-lg-8 {
    width: 66.66666%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px; }

  .col-lg-9 {
    width: 75%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px; }

  .col-lg-10 {
    width: 83.33333%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px; }

  .col-lg-11 {
    width: 91.66666%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px; }

  .col-lg-12 {
    width: 100%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px; } }
/*Main*/
h1 {
  font-size: 3em; }

h2 {
  font-size: 2.5em; }

h3 {
  font-size: 1.5em; }

h4 {
  font-size: 1.3em; }

h5 {
  font-size: 1.2em; }

h6 {
  font-size: 1.2em; }

/*Header*/
.logo-menu {
  border-bottom: 4px solid #C47830;
  position: fixed;
  z-index: 10000; }

.nav-menu li {
  display: inline-block;
  font-size: 1.2rem;
  width: auto;
  padding: 1rem;
  color: #F1F1F1; }

.nav-menu li:after {
  background-color: #87723F; }

.nav-menu-items {
  margin: auto; }

/*Home page top content*/
.top-content h1 {
  display: block;
  background-color: #F1F1F1;
  transform: translateY(8rem);
  margin: auto;
  padding: .5rem;
  width: 95%;
  text-align: center;
  color: #2C3242; }

.daily-wrapper:before {
  content: "";
  position: relative;
  display: block;
  margin: auto;
  width: 5em;
  height: 5em;
  border-left: 3px solid #C47830;
  border-bottom: 3px solid #C47830;
  border-radius: 5px;
  border-shadow: 0px 2px 5px 0px #0F0F0F;
  transform: rotate(135deg);
  top: 5em; }

.daily-menu {
  display: block;
  position: relative;
  background-color: #0F0F0F;
  color: #F1F1F1;
  font-family: Indie Flower;
  font-size: 1.2rem;
  border-radius: 2px;
  margin: 5rem 0 0 5rem;
  border: 3px solid #000;
  outline: 10px solid #C47830;
  box-shadow: 12px 12px 10px 4px grey;
  top: -2rem; }

.daily-menu * {
  position: relative; }

.daily-menu h3,
.daily-menu h6 {
  text-align: center;
  padding: .5rem; }

.daily-menu h3:after {
  background-color: #87723F; }

.daily-menu-item {
  padding: .2rem 0;
  text-align: center; }

/*Home page icons*/
.home-page-icons {
  color: #2C3242; }

/*About us home*/
.about-us-home {
  position: relative;
  padding: 1em 0;
  overflow: hidden;
  height: auto; }

.about-us-info {
  display: inline-block;
  background: #87723F;
  position: relative;
  top: 2rem;
  color: #F1F1F1;
  border: 1px solid #F1F1F1;
  padding: 1em .5em;
  text-align: justify;
  font-size: 1.1em;
  line-height: 1.2em; }

.about-us-info h2 {
  text-align: center;
  padding-bottom: .5em; }

.about-us-info h2:after {
  border-bottom-color: #2C3242; }

.chef-img img {
  border-radius: 50%;
  width: 8rem;
  height: 8rem; }

.chef-name {
  font-size: 2rem; }

/*Interface*/
.triangle, .about-us-info h2:after, .blog-home h2:after {
  content: "";
  position: relative;
  display: block;
  margin: auto;
  width: .55em;
  height: .5em;
  border-left: 3px solid;
  border-bottom: 3px solid;
  border-radius: 5px;
  border-shadow: 0px 2px 5px 0px #0F0F0F;
  transform: rotate(-45deg); }

.line-after, .nav-menu li:after, .daily-menu h3:after, .menu-restaurant-items li:after, .menu-main-text h3:after, .about-our-restaurant-text h1:after, .about-our-chefs h2:after, .res-description h1:after, .blog-page h1:after {
  content: "";
  position: relative;
  display: block;
  width: 20px;
  height: 1px;
  margin: auto;
  margin-top: .3em;
  transition-property: width;
  transition-duration: 1s; }

.line-after:hover, .nav-menu li:hover:after, .daily-menu h3:hover:after, .menu-restaurant-items li:hover:after, .menu-main-text h3:hover:after, .about-our-restaurant-text h1:hover:after, .about-our-chefs h2:hover:after, .res-description h1:hover:after, .blog-page h1:hover:after {
  width: 2.5rem; }

/* Blog Home page*/
.blog-home {
  background: #FFF;
  overflow: hidden;
  padding-bottom: 5em; }

.blog-home h2 {
  text-align: center;
  padding: 1em;
  color: #42475C;
  font-weight: bold;
  transition-property: color;
  transition-duration: 1s; }

.blog-home h2:hover {
  color: #87723F; }

.blog-section {
  margin: 2em;
  background-color: #F1F1F1; }

.blog-section h6 {
  text-align: center;
  padding-bottom: .5em; }

.button-blog {
  position: relative; }

.blog-section-btn {
  position: absolute;
  top: -7em;
  display: none;
  background-color: #2C3242;
  padding: 1em 1em;
  color: #F1F1F1;
  border-radius: 5px; }

.blog-section:hover {
  opacity: 0.8; }

.blog-section:hover .blog-section-btn {
  display: block;
  animation: move 1s linear forwards;
  opacity: 1; }

@keyframes move {
  0% {
    transform: tranaslateX(50%); }
  100% {
    transform: translateX(120%); } }
.blog-section-text {
  padding: 1em 2em;
  text-align: center;
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #2C3242;
  font-size: 1.1em; }

/*Footer*/
.footer-links {
  padding: 2em;
  line-height: 1.5em;
  height: auto;
  background-color: #0F0F0F;
  color: #F1F1F1;
  opacity: 0.9;
  overflow: hidden; }

.footer-links a:hover {
  color: #F1F1F1; }

.footer-bottom {
  background-color: #0F0F0F;
  padding: 1em;
  overflow: hidden; }

/*Buttons*/
.btn {
  border: 0;
  display: inline-block;
  width: 100%;
  padding: 1rem 1rem;
  color: #F1F1F1;
  border-radius: 3px;
  margin: auto; }

.btn-border {
  border: 1px solid #F1F1F1; }

.btn-default {
  background-color: #C47830;
  border-bottom: 2px solid #87723F; }

.btn-default:hover {
  background-color: #87723F;
  font-style: italic; }

.btn-blue {
  background-color: #2C3242;
  text-align: center; }

.btn-blue:hover {
  background-color: #42475C;
  font-style: italic; }

.btn-newsletter {
  padding: .55em; }

.form-button {
  margin-left: 7.5rem;
  cursor: pointer; }

/*Menu*/
.menu-restaurant {
  background-color: #0F0F0F;
  margin: 1em 0;
  opacity: .8; }

.menu-restaurant h2 {
  position: relative;
  width: 28px;
  height: 28px;
  margin: auto;
  margin-top: 1rem;
  font-weight: bold;
  padding: 2.5rem;
  border: 2px dotted #F1F1F1;
  transform: rotate(45deg); }

.menu-restaurant span {
  position: absolute;
  left: 0.1rem;
  top: 1.7rem;
  transform: rotate(-45deg);
  text-align: center; }

.menu-restaurant-items li {
  color: #F1F1F1;
  font-size: 1.8em;
  padding: .9em 0;
  text-align: center; }

.menu-restaurant-items li:after {
  background-color: #F1F1F1; }

.menu-main-text {
  margin: 1em 0;
  color: #C47830; }

.menu-main-text h3:after {
  background-color: #42475C; }

.menu-main-text h1,
.menu-main-text h3 {
  padding: 1rem 0;
  text-align: center;
  color: #42475C; }

.menu-item {
  position: relative;
  padding-top: 2em; }

.menu-item-title {
  font-size: 1.5em;
  color: #C47830;
  border-bottom: 1px dotted #87723F; }

.menu-item-description {
  color: #87723F;
  padding: 0.1em 0 1em 0; }

.menu-item-price {
  font-size: 1.5em;
  font-style: italic; }

.active-menu {
  color: #C47830; }

.inactive-menu {
  color: #F1F1F1; }

.active-menu-items {
  display: block; }

.inactive-menu-items {
  display: none; }

/*Contact*/
.contact-address {
  padding: 1em 0;
  font-size: 1.2em; }

.form-item {
  display: block;
  padding: .5em 0; }

#contact-form input {
  padding: .4em;
  width: 100%; }

#contact-form label {
  display: inline-block;
  width: 5em;
  font-size: 1.2em; }

#contact-form input,
#contact-form textarea {
  width: 30em;
  padding: .4em;
  border: 2px solid #87723F;
  border-radius: 3px; }

.text-textarea {
  transform: translateY(-5em); }

.contact-page-form {
  margin-top: 3rem; }

.map-location {
  margin-top: 3em; }

/*About us page*/
.about-our-restaurant {
  background-image: url("images/food.jpg");
  background-size: 100%;
  margin-top: 2em; }

.about-our-restaurant-text {
  align-items: center;
  margin-left: -.6em;
  color: #2C3242;
  padding: 0 2rem;
  height: 29.5rem; }

.about-our-restaurant-text h1 {
  text-align: center; }

.about-our-restaurant-text h1:after {
  background-color: #2C3242; }

.about-our-restaurant-text p {
  display: -webkit-flex;
  display: flex;
  font-size: 1.2em;
  line-height: 1.5em;
  min-height: 15em;
  align-items: center; }

.our-chefs {
  display: flex;
  align-items: center;
  justify-content: center; }

.about-our-chefs {
  background-color: #87723F;
  margin-top: -.5rem;
  color: #F1F1F1;
  padding: 3em 0;
  overflow: hidden; }

.about-our-chefs h2 {
  text-align: center;
  color: #0F0F0F; }

.about-our-chefs h2:after {
  background-color: #F1F1F1; }

/*Newsletter*/
.newsletter-input {
  padding: .4em;
  border-radius: 3px;
  border: 0;
  height: 1.2rem;
  width: 105%;
  margin-right: 10rem; }

/*Reservation*/
.res-form {
  padding: 3rem 0; }

.res-description {
  background-color: #87723F;
  padding: 6rem 0;
  margin: 0 0 -.4rem -.5rem;
  color: #F1F1F1;
  text-align: center; }

.res-description h1:after {
  background-color: #F1F1F1; }

.form-input {
  line-height: 1.5rem;
  font-size: 1.2rem;
  border: 2px solid transparent;
  border-bottom: 1px dotted #2C3242;
  background-color: transparent; }

.form-input:focus {
  border: 1px dotted #2C3242;
  background-color: #ffffff;
  border-radius: 3px; }

.label-form {
  font-size: 1.4rem; }

select[name="hours"],
select[name="minutes"],
select[name="date"],
input::-webkit-input-placeholder {
  color: #ccc;
  font-style: italic; }

.choosen {
  color: #87723F; }

/*404*/
.not-found {
  margin-top: 3rem;
  text-align: center;
  min-height: 20rem; }

.not-found h1 {
  padding: 5rem; }

/*Blog page*/
.blog-page {
  margin-top: 3rem; }

.blog-item-details {
  color: #42475C;
  background-color: #ffffff;
  margin-top: -.8rem;
  padding: 0 .2rem .5rem 0;
  overflow: hidden; }

.blog-item-details * {
  padding: .5rem; }

.img-blog {
  box-sizing: border-box;
  width: 100%;
  min-height: 21rem;
  padding: 0px; }

.blog-page h2 {
  text-align: center; }

.blog-page h1 {
  text-align: center;
  padding: 2rem; }

.blog-page h1:after {
  background-color: #87723F; }

@media (min-width: 768px) {
  .about-us-info {
    left: -10%; } }
ul li {
  color: #87723F; }

/*# sourceMappingURL=stylesheet.css.map */
