/*CSS Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: inherit; }

input,
textarea {
  outline: none; }

body {
  font-family: Lora, sans-serif, Tahoma;
  font-size: 16px;
  color: #87723F;
  background: #F1F1F1; }

.container {
  width: 100%;
  clear: both; }

@media (min-width: 768px) {
  .container {
    width: 100%; } }
@media (min-width: 992px) {
  .container {
    width: 100%; } }
@media (min-width: 1200px) {
  .container {
    width: 100%; } }
.row {
  width: 100%;
  box-sizing: border-box;
  padding: 0 15px;
  clear: both; }

.nav-menu {
  width: 100%;
  border: 1px solid white; }

.top-content {
  background-image: url("images/food.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 500px;
  background-attachment: fixed; }

.home-page-icons {
  height: 100px; }

#logo {
  font-size: 3em;
  overflow: hidden; }

.logo-menu {
  background-color: #0F0F0F;
  overflow: hidden; }

#restaurant-menu {
  left: 100px;
  width: 10px;
  height: 50px;
  background: url("images/icons.png") 200px 0; }

.img-width {
  width: 100%; }

.box-shadow {
  box-shadow: 0px 2px 5px 0px #0F0F0F; }

input[type=button] {
  cursor: pointer; }

.col-xs-1 {
  width: 8.33333%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px; }

.col-xs-2 {
  width: 16.66667%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px; }

.col-xs-3 {
  width: 25%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px; }

.col-xs-4 {
  width: 33.33333%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px; }

.col-xs-5 {
  width: 41.66666%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px; }

.col-xs-6 {
  width: 50%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px; }

.col-xs-7 {
  width: 58.33333%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px; }

.col-xs-8 {
  width: 66.66666%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px; }

.col-xs-9 {
  width: 75%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px; }

.col-xs-10 {
  width: 83.33333%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px; }

.col-xs-11 {
  width: 91.66666%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px; }

.col-xs-12 {
  width: 100%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px; }

@media (min-width: 34em) {
  .col-sm-1 {
    width: 8.33333%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px; }

  .col-sm-2 {
    width: 16.66667%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px; }

  .col-sm-3 {
    width: 25%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px; }

  .col-sm-4 {
    width: 33.33333%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px; }

  .col-sm-5 {
    width: 41.66666%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px; }

  .col-sm-6 {
    width: 50%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px; }

  .col-sm-7 {
    width: 58.33333%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px; }

  .col-sm-8 {
    width: 66.66666%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px; }

  .col-sm-9 {
    width: 75%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px; }

  .col-sm-10 {
    width: 83.33333%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px; }

  .col-sm-11 {
    width: 91.66666%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px; }

  .col-sm-12 {
    width: 100%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px; } }
@media (min-width: 48em) {
  .col-1 {
    width: 8.33333%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px; }

  .col-2 {
    width: 16.66667%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px; }

  .col-3 {
    width: 25%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px; }

  .col-4 {
    width: 33.33333%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px; }

  .col-5 {
    width: 41.66666%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px; }

  .col-6 {
    width: 50%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px; }

  .col-7 {
    width: 58.33333%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px; }

  .col-8 {
    width: 66.66666%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px; }

  .col-9 {
    width: 75%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px; }

  .col-10 {
    width: 83.33333%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px; }

  .col-11 {
    width: 91.66666%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px; }

  .col-12 {
    width: 100%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px; } }
@media (min-width: 62em) {
  .col-lg-1 {
    width: 8.33333%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px; }

  .col-lg-2 {
    width: 16.66667%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px; }

  .col-lg-3 {
    width: 25%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px; }

  .col-lg-4 {
    width: 33.33333%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px; }

  .col-lg-5 {
    width: 41.66666%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px; }

  .col-lg-6 {
    width: 50%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px; }

  .col-lg-7 {
    width: 58.33333%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px; }

  .col-lg-8 {
    width: 66.66666%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px; }

  .col-lg-9 {
    width: 75%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px; }

  .col-lg-10 {
    width: 83.33333%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px; }

  .col-lg-11 {
    width: 91.66666%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px; }

  .col-lg-12 {
    width: 100%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px; } }
/*Main*/
h1 {
  font-size: 3em; }

h2 {
  font-size: 2.5em; }

h3 {
  font-size: 1.5em; }

h4 {
  font-size: 1.3em; }

h5 {
  font-size: 1.2em; }

h6 {
  font-size: 1.2em; }

.nav-menu li {
  display: inline-block;
  font-size: 1.2rem;
  width: auto; }

.nav-menu-items {
  margin: auto; }

/*Home page top content*/
.top-content h1 {
  display: block;
  background-color: #F1F1F1;
  margin-top: 10rem;
  padding: .5rem;
  width: 90%;
  text-align: center; }

.daily-menu {
  display: block;
  background-color: #0F0F0F;
  color: #C47830;
  border-radius: 2px;
  opacity: .9;
  margin: 2rem 0 0 5rem; }

.daily-menu h3,
.daily-menu h6 {
  text-align: center;
  padding: .5rem; }

.daily-menu h3:after {
  background-color: #87723F; }

/*Home page icons*/
.home-page-icons {
  color: #2C3242; }

/*About us home*/
.about-us-home {
  position: relative;
  padding: 1em 0;
  overflow: hidden;
  height: auto; }

.about-us-info {
  background: #87723F;
  position: relative;
  top: 30%;
  left: -10%;
  color: #F1F1F1;
  border: 1px solid #F1F1F1;
  margin: auto;
  padding: 1em .5em;
  text-align: justify;
  font-size: 1.1em;
  line-height: 1.2em;
  overflow: hidden; }

.about-us-info h2 {
  text-align: center;
  padding-bottom: .5em; }

.about-us-info h2:after {
  border-bottom-color: #2C3242; }

/*Interface*/
.triangle, .about-us-info h2:after, .blog-home h2:after {
  content: "";
  position: relative;
  display: block;
  margin: auto;
  width: .55em;
  height: .5em;
  border-left: 3px solid;
  border-bottom: 3px solid;
  border-radius: 5px;
  border-shadow: 0px 2px 5px 0px #0F0F0F;
  transform: rotate(-45deg); }

.line-after, .daily-menu h3:after, .menu-restaurant-items li:after, .menu-main-text h3:after, .contact-page-form h1:after,
.contact-page-form h2:after {
  content: "";
  position: relative;
  display: block;
  width: 20px;
  height: 1px;
  margin: auto;
  margin-top: .3em;
  transition-property: width;
  transition-duration: 1s; }

.line-after:hover, .daily-menu h3:hover:after, .menu-restaurant-items li:hover:after, .menu-main-text h3:hover:after, .contact-page-form h1:hover:after,
.contact-page-form h2:hover:after {
  width: 80px; }

/* Blog Home page*/
.blog-home {
  background: #FFF;
  overflow: hidden;
  padding-bottom: 5em; }

.blog-home h2 {
  text-align: center;
  padding: 1em;
  color: #42475C;
  font-weight: bold;
  transition-property: color;
  transition-duration: 1s; }

.blog-home h2:hover {
  color: #87723F; }

.blog-section {
  margin: 2em;
  background-color: #F1F1F1; }

.blog-section h6 {
  text-align: center;
  padding-bottom: .5em; }

.button-blog {
  position: relative; }

.blog-section-btn {
  position: absolute;
  top: -7em;
  left: 30%; }

.blog-section-btn:hover {
  display: block; }

.blog-section-text {
  padding: 1em 2em;
  text-align: center;
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #2C3242;
  font-size: 1.1em; }

/*Footer*/
.footer-links {
  padding: 2em;
  line-height: 1.5em;
  height: auto;
  background-color: #0F0F0F;
  color: #F1F1F1;
  opacity: 0.9;
  overflow: hidden; }

.footer-links a:hover {
  color: #F1F1F1; }

.footer-bottom {
  background-color: #0F0F0F;
  padding: 1em;
  overflow: hidden; }

/*Buttons*/
.btn {
  border: 0;
  display: inline-block;
  width: 100%;
  padding: 1rem 1rem;
  color: #F1F1F1;
  border-radius: 3px;
  margin: auto; }

.btn-border {
  border: 1px solid #F1F1F1; }

.btn-default {
  background-color: #C47830;
  border-bottom: 2px solid #87723F; }

.btn-default:hover {
  background-color: #87723F;
  font-style: italic; }

.btn-blue {
  background-color: #2C3242;
  text-align: center; }

.btn-blue:hover {
  background-color: #42475C;
  font-style: italic; }

/*Menu*/
.menu-restaurant {
  background-color: #0F0F0F;
  margin: 1em 0;
  opacity: .8; }

.menu-restaurant h2 {
  position: relative;
  width: 28px;
  height: 28px;
  margin: auto;
  margin-top: 15px;
  font-weight: bold;
  padding: 2rem;
  border: 2px dotted #F1F1F1;
  transform: rotate(45deg); }

.menu-restaurant span {
  position: absolute;
  left: 0px;
  transform: rotate(-45deg); }

.menu-restaurant-items li {
  color: #F1F1F1;
  font-size: 1.8em;
  padding: .9em 0;
  text-align: center; }

.menu-restaurant-items li:after {
  background-color: #F1F1F1; }

.menu-main-text {
  margin: 1em 0;
  color: #C47830; }

.menu-main-text h3:after {
  background-color: #42475C; }

.menu-main-text h1,
.menu-main-text h3 {
  padding: 1rem 0;
  text-align: center;
  color: #42475C; }

.menu-item {
  position: relative;
  padding-top: 2em; }

.menu-item-title {
  font-size: 1.5em;
  color: #C47830;
  border-bottom: 1px dotted #87723F; }

.menu-item-description {
  color: #87723F;
  padding: 0.1em 0 1em 0; }

.menu-item-price {
  font-size: 1.5em;
  font-style: italic; }

.active-menu {
  color: #C47830; }

.inactive-menu {
  color: #F1F1F1; }

.active-menu-items {
  display: block; }

.inactive-menu-items {
  display: none; }

/*Contact*/
.contact-page-form {
  margin: 150px; }

.contact-page-form h1:after,
.contact-page-form h2:after {
  background-color: #2C3242; }

.contact-address {
  padding: 1em 0;
  font-size: 1.2em; }

.form-item {
  display: block;
  padding: .5em 0; }

#contact-form input,
.newsletter-form input {
  padding: .4em;
  width: 100%; }

#contact-form label {
  display: inline-block;
  width: 5em;
  font-size: 1.2em; }

#contact-form input,
#contact-form textarea {
  width: 30em;
  padding: .4em;
  border: 2px solid #87723F;
  border-radius: 3px; }

.text-textarea {
  transform: translateY(-5em); }

.contact-page-form {
  margin-top: 20em; }

.map-location {
  margin-top: 4em; }

.form-button {
  margin-left: 6em;
  cursor: pointer; }

ul li {
  color: #87723F; }

/*# sourceMappingURL=stylesheet.css.map */
