/*Main*/

h1 {
    font-size: 3em;
}

h2 {
	font-size: 2.5em;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1.3em;
}

h5 {
	font-size: 1.2em;
}

h6 {
	font-size: 1.2em;
}


/*Header*/

.logo-menu{
	border-bottom:4px solid $color-5;
	position:fixed;
	z-index:10000;

}

.nav-menu li{
	display:inline-block;
	font-size:1.2rem;
	width:auto;
	padding:1rem;
    color:$color-6;
}

.nav-menu li:after{
	@extend .line-after;
	background-color:$color-1;
}

.nav-menu-items{
	margin:auto;
}

/*Home page top content*/

.top-content h1{
	display:block;
	background-color:$color-6;
	transform: translateY(8rem);
	margin:auto;
	padding:.5rem;
	width:95%;
	text-align:center;
	color:$color-2;
}

.daily-wrapper:before{
	content:"";
	position:relative;
	display:block;
	margin:auto;
	width:5em;
	height:5em;
	border-left:3px solid $color-5;
	border-bottom:3px solid $color-5;
	border-radius:5px;
	border-shadow: 0px 2px 5px 0px $color-3;
	transform:rotate(135deg);
	top:5em;
}

.daily-menu{
    display:block;
    position:relative;
    background-color:$color-3;	
    color:$color-6;
    font-family:Indie Flower;
    font-size:1.2rem;
	border-radius:2px;
	margin:5rem 0 0 5rem;
	border:3px solid #000;
	outline:10px solid $color-5;
	box-shadow:12px 12px 10px 4px grey;
	top:-2rem;
}

.daily-menu *{
	position:relative;
}

.daily-menu h3,
.daily-menu h6 {
	text-align:center;
	padding:.5rem;
}

.daily-menu h3:after{
	@extend .line-after;
    background-color:$color-1;
}

.daily-menu-item{
	padding:.2rem 0;
	text-align:center;
}


/*Home page icons*/

.home-page-icons{
	color:$color-2;
}


/*About us home*/

.about-us-home{
    position:relative;
    padding:1em 0;
    overflow:hidden;
    height:auto;
}

.about-us-info {
    display:inline-block;
	background:$color-1;
	position:relative;
	top:2rem;
	color:$color-6;
	border:1px solid $color-6;
	padding:1em .5em;
    text-align:justify;
    font-size:1.1em;
    line-height:1.2em;
}

.about-us-info h2 {
	text-align:center;
	padding-bottom:.5em;
}

.about-us-info h2:after{
	@extend .triangle;
	border-bottom-color:$color-2;
}

.chef-img img{
	border-radius:50%;
	width:8rem;
	height:8rem;

}

.chef-name{
	font-size:2rem;
}

/*Interface*/

.triangle{
	content:"";
	position:relative;
	display:block;
	margin:auto;
	width:.55em;
	height:.5em;
	border-left:3px solid;
	border-bottom:3px solid;
	border-radius:5px;
	border-shadow: 0px 2px 5px 0px $color-3;
	transform:rotate(-45deg);
}

.line-after{
	content:"";
	position:relative;
	display:block;
    width:20px;
    height:1px;
    margin:auto;
    margin-top:.3em;
    transition-property:width;
    transition-duration:1s;
 }

.line-after:hover{
	width:2.5rem;
}

/* Blog Home page*/

.blog-home{
	background:#FFF;
	overflow:hidden;
	padding-bottom:5em;
}

.blog-home h2 {
	text-align:center;
	padding:1em;
	color:$color-4;
	font-weight:bold;
	transition-property:color;
	transition-duration:1s;
}

.blog-home h2:hover{
	color:$color-1;
}

.blog-home h2:after{
     @extend .triangle;
}

.blog-section{
    margin: 2em;
    background-color: $color-6;
}

.blog-section h6 {
	text-align:center;
	padding-bottom:.5em;
}

.button-blog{
	position:relative;
}

.blog-section-btn {
	position:absolute;
	top:-7em;
 	display:none;
	background-color:$color-2;
	padding:1em 1em;
	color:$color-6;
	border-radius:5px;
}

.blog-section:hover{
	opacity:0.8;
}

.blog-section:hover .blog-section-btn{
	display:block;
	animation: move 1s linear forwards;
	opacity:1;
}

@keyframes move{
	0%{
	   transform:tranaslateX(50%);
	}
	100%{
	   transform:translateX(120%);
	}
}

.blog-section-text{
	padding:1em 2em;
	text-align:center;
    text-align: justify;
    overflow: hidden;
	text-overflow: ellipsis;
	color:$color-2;
	font-size:1.1em;
}


/*Footer*/
.footer-links{
	padding:2em;
	line-height:1.5em;
	height:auto;
	background-color:#0F0F0F;
	color:#F1F1F1;
	opacity:0.9;
	overflow:hidden;
}

.footer-links a:hover{
	color:$color-6;
} 

.footer-bottom{
    background-color:#0F0F0F;
	padding:1em;
	overflow:hidden;
}


/*Buttons*/

.btn{
    border:0;
    display:inline-block;
    width:100%;
	padding:1rem 1rem;
	color:$color-6;
	border-radius:3px;
	margin:auto;
}

.btn-border{
	border:1px solid $color-6;
}

.btn-default{
	background-color:$color-5;
	border-bottom:2px solid $color-1;
}

.btn-default:hover{
	background-color:$color-1;
	font-style:italic;
}

.btn-blue{
	background-color:$color-2;
	text-align:center;
}

.btn-blue:hover{
	background-color:$color-4;
	font-style:italic;
}

.btn-newsletter{
   padding:.55em;
}

.form-button{
	margin-left:7.5rem;
	cursor:pointer;
}


/*Menu*/

.menu-restaurant{
	background-color:$color-3;
	margin:1em 0;
	opacity:.8;
}

.menu-restaurant h2 {
    position:relative;
    width:28px;
    height:28px;
    margin:auto;
    margin-top:1rem;
	font-weight:bold;
	padding:2.5rem;
	border:2px dotted $color-6;
	transform:rotate(45deg);
}

.menu-restaurant span{
    position:absolute;
    left:0.1rem;
    top:1.7rem;
    transform:rotate(-45deg);
    text-align:center;
}

.menu-restaurant-items li {
    color:$color-6;
    font-size:1.8em;
	padding:.9em 0;
	text-align:center;
}

.menu-restaurant-items li:after{
	@extend .line-after;
    background-color:$color-6;
}

.menu-main-text {
	margin:1em 0;
	color:$color-5;
}

.menu-main-text h3:after{
   @extend .line-after;
   background-color:$color-4;
}

.menu-main-text h1,
.menu-main-text h3{
	padding:1rem 0;
	text-align:center;
	color:$color-4;
}

.menu-item{
	position:relative;
	padding-top:2em;
}

.menu-item-title{
	font-size:1.5em;
	color:$color-5;
	border-bottom:1px dotted $color-1;
}

.menu-item-description{
	color:$color-1;
	padding:0.1em 0 1em 0;
}

.menu-item-price{
	font-size:1.5em;
    font-style:italic;
}

.active-menu{
	color:$color-5;
}

.inactive-menu{
	color:$color-6;
}

.active-menu-items{
	display:block;
}

.inactive-menu-items{
	display:none;
}

/*Contact*/

.contact-address{
	padding:1em 0;
	font-size:1.2em;
}

.form-item{
	display:block;
	padding:.5em 0;
}

#contact-form input{
	padding:.4em;
	width:100%;
}

#contact-form label{
	display:inline-block;
	width:5em;
	font-size:1.2em;
}

#contact-form input,
#contact-form textarea{
	width:30em;
	padding:.4em;
	border:2px solid $color-1;
    border-radius:3px;
}

.text-textarea{
    transform:translateY(-5em);
}

.contact-page-form{
	margin-top:3rem;
}

.map-location{
	margin-top:3em;
}

/*About us page*/

.about-our-restaurant{
  	background-image:url("images/food.jpg");
    background-size:100%;
	margin-top:2em;
}

.about-our-restaurant-text{
    align-items:center;
	margin-left:-.6em;
	color:$color-2;
	padding: 0 2rem;
	height: 29.5rem;
}

.about-our-restaurant-text h1{
	text-align:center;
}

.about-our-restaurant-text h1:after{
	@extend .line-after;
	background-color:$color-2;
}

.about-our-restaurant-text p{
    display: -webkit-flex;
    display:  flex;
    font-size:1.2em;
	line-height:1.5em;
	min-height:15em;
	align-items:center;
}

.our-chefs{
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-our-chefs{
	background-color:$color-1;
	margin-top:-.5rem;
	color:$color-6;
	padding:3em 0;
	overflow:hidden;
}

.about-our-chefs h2{
	text-align:center;
    color:$color-3;
}

.about-our-chefs h2:after{
	@extend .line-after;
	background-color:$color-6;
}

/*Newsletter*/

.newsletter-input{
	padding:.4em;
	border-radius:3px;
	border:0;
	height:1.2rem;
	width:105%;
	margin-right:10rem;
}

/*Reservation*/

.res-form{
   padding:3rem 0;
}

.res-description{
	background-color:$color-1;
	padding:6rem 0;
	margin:0 0 -.4rem -.5rem;
	color:$color-6;
	text-align:center;
}

.res-description h1:after{
	@extend .line-after;
    background-color:$color-6;
}

.form-input{
	line-height:1.5rem;
	font-size:1.2rem;
	border:2px solid transparent;
	border-bottom:1px dotted $color-2;
	background-color:transparent;
}

.form-input:focus{
	border:1px dotted $color-2;
	background-color:#ffffff;
	border-radius:3px;
}

.label-form{
	font-size:1.4rem;
}

select[name="hours"],
select[name="minutes"],
select[name="date"],
input::-webkit-input-placeholder {
	color:#ccc;
	font-style:italic;
}

.choosen{
	color:$color-1;
}

/*404*/

.not-found{
	margin-top:3rem;
	text-align:center;
	min-height:20rem;
}

.not-found h1{
	padding:5rem;
}

/*Blog page*/

.blog-page{
	margin-top:3rem;
}

.blog-item-details{
    color:$color-4;
    background-color:#ffffff;
    margin-top:-.8rem;
    padding:0 .2rem .5rem 0;
    overflow:hidden;
}

.blog-item-details *{
	padding:.5rem;
}

.img-blog{
    box-sizing:border-box;
	width:100%;
	min-height:21rem;
	padding:0px;
}

.blog-page h2{
	text-align:center;
}

.blog-page h1{
	text-align:center;
	padding:2rem;
}

.blog-page h1:after{
	@extend .line-after;
	background-color:$color-1;
}





@media (min-width: 768px) {
  .about-us-info{
	left:-10%;
  }
}
